// colors

@softOrange: hsl(35, 77%, 62%);
@softRed: hsl(5, 85%, 63%);
@offWhite: hsl(36, 100%, 99%);
@grayishBlue: hsl(233, 8%, 79%);
@darkGrayishBlue: hsl(236, 13%, 42%);
@veryDarkBlue: hsl(240, 100%, 5%);

// fonts

@font-face {
    font-family: 'inter-regular';
    src: url('../fonts/static/Inter-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: geometricPrecision;
}

@font-face {
    font-family: 'inter-bold';
    src: url('../fonts/static/Inter-Bold.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: geometricPrecision;
}

@font-face {
    font-family: 'inter-extra-bold';
    src: url('../fonts/static/Inter-ExtraBold.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: geometricPrecision;
}


@extraBold: 'inter-extra-bold';
@bold: 'inter-bold';
@regular: 'inter-regular';

// breakpoints{

@mobileSize: 500px;
@tabletSize: 826px;