@font-face {
  font-family: 'inter-regular';
  src: url('../fonts/static/Inter-Regular.ttf');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}
@font-face {
  font-family: 'inter-bold';
  src: url('../fonts/static/Inter-Bold.ttf');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}
@font-face {
  font-family: 'inter-extra-bold';
  src: url('../fonts/static/Inter-ExtraBold.ttf');
  font-style: normal;
  font-weight: normal;
  text-rendering: geometricPrecision;
}
.overlay {
  content: '';
  background-color: hsl(240, 100%, 5%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
}
.overlayOpen {
  pointer-events: unset;
  opacity: 0.25;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
html {
  color-scheme: dark light;
}
html body {
  min-height: 100vh;
}
html body *,
html body *::before,
html body *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body * {
  margin: 0;
  padding: 0;
  font: inherit;
}
html body li {
  list-style: none;
}
html body a {
  text-decoration: none;
  color: unset;
}
html body button {
  background-color: unset;
  border: unset;
  padding: unset;
  cursor: pointer;
}
html body img,
html body picture,
html body svg,
html body video {
  max-width: 100%;
  display: block;
}
html body {
  font-family: 'inter-regular';
  background-color: hsl(36, 100%, 99%);
  color: hsl(236, 13%, 42%);
}
html body nav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: hsl(36, 100%, 99%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 2em;
}
@media screen and (min-width: 600px) {
  html body nav {
    padding: 5.5em 10%;
  }
}
html body nav .logo {
  background-image: url(../images/logo.svg);
  height: 2em;
  width: 3.1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 600px) {
  html body nav .logo {
    height: 2.43em;
    width: 4em;
  }
}
html body nav .nav_toggle {
  background-image: url(../images/icon-menu.svg);
  height: 2em;
  width: 3.1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}
@media screen and (min-width: 600px) {
  html body nav .nav_toggle {
    display: none;
  }
}
html body nav[data-navopen="true"] > .nav_toggle {
  background-image: url(../images/icon-menu-close.svg);
}
html body nav .links {
  max-width: 70%;
}
html body nav .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 440px;
  max-width: 100%;
}
html body nav .links ul li a:hover {
  color: hsl(5, 85%, 63%);
}
@media screen and (max-width: 600px) {
  html body nav .links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 66.66vw;
    background-color: white;
    -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
    -webkit-transition: -webkit-clip-path 0.25s ease-in-out;
    transition: -webkit-clip-path 0.25s ease-in-out;
    transition: clip-path 0.25s ease-in-out;
    transition: clip-path 0.25s ease-in-out, -webkit-clip-path 0.25s ease-in-out;
  }
  html body nav .links::before {
    position: fixed;
    left: 0;
    top: 0;
    content: '';
    background-color: black;
    opacity: 0.25;
    width: 33.44vw;
    height: 100vh;
    -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
    -webkit-transition: -webkit-clip-path 0.25s ease-in-out;
    transition: -webkit-clip-path 0.25s ease-in-out;
    transition: clip-path 0.25s ease-in-out;
    transition: clip-path 0.25s ease-in-out, -webkit-clip-path 0.25s ease-in-out;
  }
  html body nav .links ul {
    margin: 9.3em 1.6em;
    min-height: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body nav .links ul li {
    font-size: 1.1em;
  }
  html body nav[data-navopen="true"] > .links {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
    transition: -webkit-clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  }
  html body nav[data-navopen="true"] > .links::before {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
    transition: -webkit-clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out;
    transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  }
}
html body main {
  padding: 5.5em 10%;
  padding-top: 0;
  margin-top: 13.5em;
}
@media screen and (max-width: 600px) {
  html body main {
    margin-top: 8em;
    padding: 3em 2em;
    padding-top: 0;
  }
}
html body main h1 {
  font-size: 2.5em;
  font-family: 'inter-extra-bold';
  color: hsl(240, 100%, 5%);
}
@media screen and (min-width: 600px) {
  html body main h1 {
    font-size: 3em;
    padding-right: 1em;
  }
}
html body main h3 {
  font-size: 1.25em;
  font-family: 'inter-bold';
}
@media screen and (min-width: 826px) {
  html body main .main {
    gap: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2rem 1fr;
    grid-template-columns: 2fr 1fr;
  }
}
html body main .main__text {
  padding: 2em 0;
}
@media screen and (min-width: 600px) {
  html body main .main__text {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
html body main .main__text__content p {
  font-size: 15px;
  line-height: 200%;
  margin-top: 2em;
}
@media screen and (min-width: 600px) {
  html body main .main__text__content p {
    margin-top: unset;
  }
}
html body main .main__text__content button {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  font-family: 'inter-bold';
  padding: 1.25em 2em;
  letter-spacing: 0.3em;
  font-size: 15px;
  margin-top: 2em;
}
html body main .main__text__content button:hover {
  background-color: hsl(240, 100%, 5%);
}
html body main .main__sidebar {
  background-color: hsl(240, 100%, 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em 1.5em;
  margin: 4em 0;
}
@media screen and (min-width: 826px) {
  html body main .main__sidebar {
    margin: unset;
  }
}
html body main .main__sidebar__text {
  padding: 2em 0;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}
html body main .main__sidebar__text:last-of-type {
  border-bottom: unset;
}
html body main .main__sidebar h2 {
  font-size: 2.5em;
  font-family: 'inter-bold';
  color: hsl(35, 77%, 62%);
}
html body main .main__sidebar h3 {
  color: hsl(36, 100%, 99%);
  padding-bottom: 1em;
}
html body main .cards {
  margin-bottom: 4.5em;
}
@media screen and (min-width: 826px) {
  html body main .cards {
    margin-top: 4.5em;
  }
}
@media screen and (min-width: 600px) {
  html body main .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
  }
}
@media screen and (min-width: 826px) {
  html body main .cards {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
html body main .cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}
html body main .cards__card__img {
  margin-right: 1.5em;
  width: 50%;
}
html body main .cards__card__text {
  width: 50%;
  color: hsl(240, 100%, 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body main .cards__card__text p {
  color: hsl(236, 13%, 42%);
  line-height: 150%;
}
html body main .cards__card__text h2 {
  font-size: 3em;
  color: hsl(236, 13%, 42%);
  font-family: 'inter-bold';
  opacity: 0.25;
}
